<!DOCTYPE html>
@{
    var html_attributes = ViewBag.HTMLAttributes != null ? ViewBag.HTMLAttributes : "";
    var body_class = ViewBag.BodyClass != null ? ViewBag.BodyClass : "";
}
<html lang="en" @html_attributes>

<head>
    @await Html.PartialAsync("~/Views/Shared/Partials/_TitleMeta.cshtml")
    @RenderSection("styles", false)
    @await Html.PartialAsync("~/Views/Shared/Partials/_HeadCSS.cshtml")
</head>
<body class="@body_class">
    @RenderBody()
    @await Html.PartialAsync("~/Views/Shared/Partials/_FooterScripts.cshtml")
    @RenderSection("scripts", required: false)
</body>
</html>
