@model Highdmin.ViewModels.SidenavViewModel

<!-- Sidenav Menu Start -->
<div class="sidenav-menu"
    style="top:0px !important; margin:0px !important; padding:0px !important; background-color: #3b45b9;">

    <!-- Brand Logo -->
    <a href=@Url.Action("Index", "Dashboard") class="logo">
        <span class="logo-light">
            <span class="logo-lg"><img src="~/images/logo.png" alt="logo"></span>
            <span class="logo-sm"><img src="~/images/logo-sm.png" alt="small logo"></span>
        </span>

        <span class="logo-dark">
            <span class="logo-lg"><img src="~/images/logo-dark.png" alt="dark logo"></span>
            <span class="logo-sm"><img src="~/images/logo-sm.png" alt="small logo"></span>
        </span>
    </a>

    <!-- Sidebar Hover Menu Toggle Button -->
    <button class="button-sm-hover">
        <i class="ri-circle-line align-middle" style="color: white;"></i>
    </button>

    <!-- Full Sidebar Menu Close Button -->
    <button class="button-close-fullsidebar">
        <i class="ri-close-line align-middle"></i>
    </button>

    <div data-simplebar style="color: white;">

        <!-- User -->
        <a class="topbar-link dropdown-toggle text-reset drop-arrow-none px-2 d-flex align-items-center justify-content-center"
            data-bs-toggle="dropdown" data-bs-offset="0,19" type="button" aria-haspopup="false" aria-expanded="false">
            <img src="~/images/users/avatar-1.jpg" width="42" class="rounded-circle me-2 d-flex" alt="user-image">
            <span class="d-flex flex-column gap-1 sidebar-user-name">
                <h4 class="my-0 fw-bold fs-15">@Model.UserName</h4>
                <h6 class="my-0">@Model.UserRole</h6>
            </span>
        </a>

        <!--- Sidenav Menu -->
        <ul class="side-nav">
            <li class="side-nav-title text-white">Menú</li>

            @foreach (var menuItem in Model.MenuItems)
            {
                @await Html.PartialAsync("_MenuItemPartial", menuItem)
            }
        </ul>

        <div class="clearfix"></div>
    </div>
</div>
<!-- Sidenav Menu End -->