UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620269; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620270; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620276; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620277; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620281; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620282; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620292; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620293; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620452; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620453; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620454; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620455; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620456; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620457; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620458; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620459; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620460; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620461; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620462; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620463; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620464; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620465; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620466; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620467; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620468; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620469; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620470; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620471; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620472; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620473; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620474; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620475; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620476; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620477; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620478; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620479; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620480; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620481; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620482; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620483; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620484; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620485; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620486; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620487; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620488; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620489; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620490; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620491; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620492; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620493; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620494; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620495; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620496; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620497; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620498; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620499; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620500; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620501; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620502; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620503; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620504; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620505; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620506; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620507; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620508; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620509; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620510; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620511; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620512; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620513; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620514; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620515; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620516; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620517; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620518; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620519; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620521; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620522; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620523; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620524; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620525; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620526; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620527; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620528; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620529; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620530; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620531; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620532; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620533; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620534; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620535; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620536; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620537; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620538; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620539; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620540; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620541; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620542; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620543; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620544; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620545; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620547; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620549; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620550; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620551; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620552; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620553; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620554; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620555; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620556; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620557; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620558; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620559; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620560; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620561; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620562; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620563; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620564; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620565; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620566; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620567; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620568; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620569; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620570; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620571; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620572; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620573; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620574; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620575; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620576; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620577; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620578; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620579; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620580; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620582; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620583; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620584; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620585; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620586; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620587; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620588; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620589; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620590; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620591; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620592; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620593; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620594; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620595; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620596; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620597; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620599; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620600; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620616; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620618; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620619; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620622; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620623; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620624; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620625; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620626; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620627; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620628; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620629; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620630; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620631; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620632; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620633; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620634; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620635; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620637; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620638; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620639; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620640; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620641; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620642; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620643; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620644; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620645; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620646; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620647; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620648; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620649; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620650; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620652; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620654; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620655; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620656; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620657; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620658; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620659; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620660; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620661; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620662; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620663; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620664; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620665; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620668; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620669; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620670; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620671; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620672; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620673; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620674; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620675; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620676; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620677; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620678; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620679; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620680; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620681; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620682; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620683; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620684; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620685; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620687; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620688; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620689; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620690; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620691; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620697; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620699; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620700; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620701; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620702; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620703; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620704; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620705; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620707; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620710; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620711; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620712; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620713; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620714; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620715; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620716; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620717; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620718; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620719; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620720; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620721; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620722; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620724; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620726; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620727; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620728; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620729; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620734; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620735; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620736; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620737; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620738; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620739; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620740; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620741; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620742; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620743; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620745; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620747; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620748; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620749; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620751; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620753; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620754; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620755; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620756; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620757; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620758; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620864; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620865; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620871; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620872; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620877; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620878; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620883; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620885; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620886; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620892; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620895; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620896; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620897; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620898; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620899; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620900; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620901; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620902; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620903; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620904; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620905; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620906; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620907; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620908; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620909; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620912; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620913; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620916; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620917; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620923; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620924; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620925; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620932; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620933; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620938; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620939; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620942; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620943; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620950; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620953; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620954; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620955; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620956; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620957; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620958; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620959; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620960; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620961; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620962; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620963; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620964; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620965; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620966; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620967; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620968; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620969; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620970; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620971; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620972; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620973; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620974; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620975; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620976; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620977; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620978; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620979; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620980; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620981; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620982; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620983; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620984; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620985; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620986; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620987; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620988; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620989; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620990; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620991; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620992; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620993; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620994; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620995; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620996; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620997; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620998; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1620999; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621000; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621001; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621002; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621003; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621004; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621005; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621006; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621007; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621008; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621009; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621010; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621011; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621012; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621013; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621014; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621015; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621016; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621017; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621018; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621019; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621020; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621021; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621022; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621023; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621024; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621025; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621026; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621027; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621028; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621029; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621030; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621031; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621032; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621033; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621034; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621035; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621036; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621037; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621038; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621039; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621040; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621041; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621042; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621043; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621044; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621045; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621046; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621047; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621048; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621049; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621050; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621051; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621052; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621053; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621054; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621055; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621056; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621057; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621058; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621059; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621060; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621061; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621062; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621063; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621064; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621065; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621066; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621067; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621068; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621069; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621070; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621071; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621072; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621073; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621074; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621076; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621077; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621078; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621079; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621080; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621081; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621082; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621083; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621084; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621085; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621086; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621087; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621088; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621089; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621090; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621091; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621092; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621093; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621094; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621095; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621096; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621097; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621098; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621100; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621101; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621102; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621103; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621104; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621105; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621106; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621107; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621108; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621109; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621110; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621111; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621112; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621113; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621114; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621115; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621116; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621117; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621118; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621119; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621120; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621121; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621122; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621123; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621124; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621125; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621126; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621127; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621128; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621129; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621130; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621131; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621132; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621314; 
UPDATE cAsientos SET Estado='ANU', Descripcion='ANULADO - '+Descripcion WHERE Id=1621315; 
