@model RegistroVacunacionItemViewModel

<div class="card border-0">
    <div class="card-header bg-success text-white">
        <h6 class="mb-0 text-white">
            <i class="ri-user-heart-line me-1"></i> Condición Usuario/a
        </h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    <label class="form-label">Condición Usuario/a</label>
                    <select class="form-select" name="EstadoSalud">
                        <option value="">Seleccionar...</option>
                        <option value="Excelente">Excelente</option>
                        <option value="Bueno">Bueno</option>
                        <option value="Regular">Regular</option>
                        <option value="Delicado">Delicado</option>
                    </select>
                </div>
            </div> 
        </div>
    </div>
</div>